.datenschutz-page {
  padding: 50px 10% 50px 10%;
}
.datenschutz-page h2 {
  margin-top: 50px;
  margin-bottom: 10px;
}
.datenschutz-page-section {
  margin-top: 40px;
}
.datenschutz-page-section h3 {
  margin-bottom: 10px;
}
